.ajax-loader {
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}
body.loading .ajax-loader {
    overflow: hidden;
}
body.loading .ajax-loader {
    display: block;
}

div#phoneSuccess {
    position: relative;
    top: 5px;
    left: 10px;
}

.profileImage {
    object-fit: cover;
    width: 10rem;
    border-radius: 50%;
    height: 10rem;
    margin: 0 3rem 0 0;
}

.myProfilWrapper {
    position: relative;
    top: 50px;
}